@import "../../mixins";

.season-title {
    margin-left: 50px;
    font-size: 44px;
    color: yellow;
    @include text-borders(1px, red);
}

.coming-soon {
    @include text-borders(5px, white);
    color: blue;
    font-size: 100px;
    -webkit-animation: coming-soon 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: coming-soon 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes coming-soon {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes coming-soon {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  