div,
main {
  height: 100%;
  width: 100%;
}

.div-bg {
  margin-top: -75px;
  height: 100%;
  display: flex;
}

.title {
  margin: 0;
  color: white;
  text-align: center;
  .title-span {
    font-size: 44px;
  }
}

.season-card {
  height: 300px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  margin: 10px;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: blue;
}

.link {
  height: 300px;
  width: 300px;
  margin: 10px;
  text-decoration: none;
}

.link:after,
.link:visited {
  color: white;
}

.season-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  margin: 75px 50px 0 0;
}

.style-div {
  width: 66%;
}
