div,
main {
  height: 100%;
  width: 100%;
}

.div-bg {
  margin: 0;
  height: 100%;
  display: flex;
  // flex-direction: column;
}

.title {
  margin: 0;
  color: white;
  text-align: center;
}

.season-card {
  height: 300px;
  width: 300px;
  background-color: white;
  border: 1px solid black;
  margin: 10px;
  padding-bottom: 75px;
}

.link {
  height: 300px;
  width: 300px;
  margin: 10px;
  text-decoration: none;
}

ul {
  list-style: none;
}

.season-div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: auto;
  margin: 75px 50px 0 0;
}

.style-div {
  width: 66%;
}