@import "../../variables";
@import "../../mixins";

.movie-wrapper {
  margin: 30px;
  height: 500px;
  width: 1000px;
  border: $border;
  border-radius: 5%;
  background: $background;
  display: flex;
  img {
    border-radius: 4% 0 0 4%;
    width: 75%;
  }
}

.movie-info {
  @include flex-column;
  justify-content: space-around;
}
