.movie-wrapper {
  margin: 30px;
  height: 500px;
  width: 1000px;
  border: 10px solid black;
  border-radius: 5%;
  background: blanchedalmond;
  display: flex;
  img {
    border-radius: 4% 0 0 4%;
    width: 75%;
  }
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
