@import "../../mixins";

.error {
  background: url("../../assets/404.jpg") center center fixed;
  @include format-background;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -135px;
  p {
    @include text-borders(2px, white);
    font-size: 68px;
  }
}
