.error {
  background: url("../../assets/404.jpg") center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -135px;
  p {
    font-size: 68px;
  }
}
